<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <p>
    <a href="/report">View Report</a>
  </p>
  <form class="" action="neworder" method="post">
    <input type="text" name="customerName" placeholder="Customer Name"><br>
    <textarea rows="3" cols="40" name="customerAddress" placeholder="Customer Address"></textarea><br>
    <input type="text" name="item1" value=0> Lucy Nelson's Greatest Hits <br>
    <input type="text" name="item2" value=0> Barry Cuda & The Sharks LIVE <br>
    <input type="text" name="item3" value=0> Busta Move Boogie <br>
    <input type="submit" value="New Order">
  </form>
</body>

</html>
